<% Content_for :content do %>
<p><%=@show.name %></p>
<p><strong>channel</strong><%= link_to @show.channel.name,channel_path(@show.channel)%></p>
<p><strong>Time</strong>: <%=@show.time %> </p>
<%end%>

